{% set num_splashes = cookiecutter.num_splashes|int %}
{% set splash_slots = cookiecutter.splash_slots|int %}
{% set max_timeout = cookiecutter.max_timeout|int %}
{% set maxrss = cookiecutter.maxrss_mb | int %}
{% set mem_limit = "%dm" | format(maxrss * 1.4) %}
{% set verbosity = cookiecutter.splash_verbosity %}

version: '3'

services:
    haproxy:
        image: haproxy:1.7
        ports:
            # stats
            - "8036:8036"

            # splash
            - "8050:8050"
        depends_on:
            {%- for i in range(num_splashes) %}
            - splash{{i}}
            {%- endfor %}
        volumes:
            - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
        network:
            - splash_cluster_network

    {%- for i in range(num_splashes) %}

    splash{{i}}:
        image: scrapinghub/splash:{{ cookiecutter.splash_version }}
        deploy:
            resources:
                limits:
                    memory: {{ mem_limit }}
        command: --max-timeout {{ max_timeout }} --slots {{ splash_slots }} --maxrss {{ maxrss }} --verbosity {{ verbosity }}
        expose:
            - 8050
        restart_policy:
            condition: on-failure
            delay: 5s
        volumes:
            - ./filters:/etc/splash/filters:ro
        networks:
            - splash_cluster_network: {}

    {%- endfor %}

networks:
    splash_cluster_network:
        driver: bridge